<div>

  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <form name="loginForm" class="form" role="form">
          <h1>Task Manager Login</h1>
          <div class="form-group">
            <label class="control-label col-md-3" for="first-name">사용자 ID</label>
            <input type="text" name="username" required="required" class="form-control" placeholder="User ID" [(ngModel)]="loginInfo.username">
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" for="first-name">비밀번호</label>
            <input type="password" name="password" required="required" class="form-control" placeholder="Password" [(ngModel)]="loginInfo.password">
          </div>
          <div style="margin-top: 15px;">
            <button type="button" class="btn btn-default submit" (click)="login()">로그인</button>
            <button type="button" class="btn btn-default submit">비밀번호 변경</button>
          </div>

          <div class="clearfix"></div>

          <div class="separator">

            <div class="clearfix"></div>
            <br />

            <div>
              <p>Copyright(c) 2018 huimori, All Rights Reserved</p>
            </div>
          </div>
        </form>
      </section>
    </div>

  </div>
</div>
